PORT=4000
# For local development set to localhost. When using docker-compose keep default 'mongo' service.
MONGO_URI=mongodb://localhost:27017/smart_leads
JWT_SECRET=changeme_super_secret
JWT_EXPIRES_IN=1d
